*        -text

*.c       text
*.cpp     text
*.h       text
*.hpp     text
*.def     text
*.html    text
*.cfg     text
*.css     text
*.def     text
*.dot     text
*.fig     text
*.sh      text
*.svg     text
*.xml     text
*.tex     text
*.txt     text
*.js      text
*.pl      text
AUTHORS   text
ChangeLog text
CHANGES   text
COPYING   text
COPYRIGHT text
FAQ       text
LFLAGS    text
makefile  text
Makefile  text
README.md text
MUST_READ text
README    text

