BODY
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
	color: black;
	font-size: 9pt;
}
DIV
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-size: 9pt;
}
P,.normal
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
	color: black;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
H2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	background-color: rgb(64,64,64);
	color: rgb(255,255,255);
	margin-top:1cm;
	padding: 2px;
	page-break-after:avoid;
}
H3
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	page-break-after:avoid;
}
H4
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 0px;
	page-break-after:avoid;
}
H5
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: normal;
	color: black;
	font-size: 9pt;
	page-break-after:avoid;
}
SUP,SUB
{
	font-size:7pt;
}
TABLE
{
	border-collapse:collapse;
}
TH
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
	font-size: 9pt;
	font-weight: normal;
	background-color: rgb(196,196,196);
	color: black;
	text-align: left;
}
TD
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
	color: black;
	font-size: 9pt;
	border:solid 1px black;
}
UL,OL
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	color: black;
	font-size:9pt;
}
LI
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	color: black;
	text-align:justify;
	font-weight: normal;
}
A:link,
A:visited,
A:hover
{
	text-decoration: none;
	color: black;
}
A.linklist:link,
A.linklist:visited,
A.linklist:hover
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	font-weight:normal;
	color: black;
	text-decoration:none;
}
A.navbar:link,
A.navbar:visited,
A.navbar:hover,
A.button:link,
A.button:visited,
A.button:hover
{
	visibility: hidden;
}
DIV.mframe
{
	border-top: solid 1pt black;
	border-left: solid 1pt black;
	border-right: solid 1pt black;
	border-bottom: none;
	background-color: rgb(196,196,196);
	padding: 2pt;
	page-break-after: avoid;
}
DIV.mframe2
{
	border: solid 1pt black;
	background-color: white;
	padding: 2pt;
}
TD.hidden
{
	border: none;
	padding-right: 3px;
}
TD.navbar
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	font-size: 14pt;
	font-weight: bold;
	border: none;
	padding-left: 0pt;
	padding-bottom: 6pt;
	page-break-after: avoid;
}
TD.rowgroup
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	vertical-align: middle;
	font-size: 9pt;
	color: black;
	background-color: rgb(196,196,196);
	border: none;
}
TD.rowgroup_c,TD.rowgroup_w,TD.rowgroup_e
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	vertical-align: middle;
	font-size: 14pt;
	color: black;
	background-color: white;
	border: none;
	margin-top:1cm;
	padding: 2px;
	page-break-after:avoid;
}
TD.n
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	vertical-align: middle;
	font-size: 9pt;
	color: black;
	background-color: white;
	border: 0.5pt solid black;
	padding: 6pt;
}
TD.rowempty
{
	border-left: none;
	border-right: none;
	border-bottom: none;
}
TD.separator
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
	font-size: 9pt;
	background-color: white;
}
UL.linklist
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	list-style-type:none;
	font-size:9pt;
	margin-left:0pt;
	margin-bottom:0pt;
}
LI.linklist
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9pt;
	margin-top:0pt;
	margin-bottom:0pt;
	margin-left:0pt;
}
.text
{
	text-align: justify
}
CODE,.code
{
	font-family:  'Courier New', Courier;
	font-size: 9pt;
	margin-bottom: 0px;
}
CODE.link
{
	color: black;
}
PRE
{
	font-family: 'Courier New', Courier;
	font-size: 9pt
}
PRE.code
{
  background-color: rgb(220,220,220);
  font-weight: normal;
  margin-left: 6pt;
  margin-right: 6pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  padding: 6pt;
}
.c-cmt,.red
{
	color: red;
}
.c-key,.blue
{
	color: rgb(21,74,196)
}
.green
{
	color: rgb(0,128,0);
}
.file
{
	font-family: 'Courier New', Courier;
	font-size: 9pt
}
.mid
{
}
CAPTION,.small,.footnote
{
	font-size: 8pt;
}
.formula
{
	font-family: 'Times New Roman', Times-Roman, Times;
	font-size: 11pt;
	font-style: italic;
}
.graphone
{
	font-family: 'Courier New', Courier;
	font-size: 10pt
}
.indent
{
	margin-left: 18px;
}
.table
{
	margin-left: 1cm;
	margin-right: 1cm;
}
.figure
{
	margin-left: 1cm;
	margin-right: 1cm;
}
.warning
{
	font-weight: bold;
	color: red;
}
.authors
{
	font-weight: normal;
	font-size: 9pt;
}
